*{

    background-color: rgb(54, 52, 52);
    font-family: "Roboto Slab";
}

details{

    border: 2px solid rgb(160, 152, 146);
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    

}

summary{

    
    
}

details[open]{

    text-align: center;

}

p{

    font-size: 16px;
    text-align: justify;
    padding: 0 15px;
    color: rgb(169, 177, 177);

}
