.card {

    background-color: crimson;
    width: 100%;
    margin: auto;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    height: 260px;
    margin-top: 20px;

}

h2 {

    text-align: center;
    color: white;
    font-weight: 400;
}

h1 {

    text-align: center;
    padding-top:0% ;
    color: white;
    font-size: 45px;
    height: 40px;
    margin-top: 10px;
    text-transform: uppercase;
    

}

body {

    font-family: "Roboto Slab";
    background-color: black;
}

p {
    padding: 20px;
    text-align: justify;
    background-color: coral;

    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
}