.box{


    width: 280px;
    background-color: rgb(236, 234, 234) ;
    margin: auto;
    margin-top:50px ;
    box-shadow:0 0 40px 0px #0007;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

body{

    margin: 0;
    font-family: "Arial";
}

.parrafo{

    list-style: none;
    text-align: justify;
    font-size: 14px;
    text-shadow: 0 0 5px  #daa4d7;
}

img{


    width: 100px;
    border-radius: 100%;

}