p {

    color: red;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 100;
    font-style:normal;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: normal;
    font-variant: small-caps;
}
