<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/590ca9351e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../Static/login_styles.css">
        <title>Tech_login</title>

    </head>

    <body>
        
        <header class="main_header">

            <div class="header_container">
        
                <div class="header_logo_container">
        
                    <a href="#" class="logo_container">
                        
                        <img class="logo_img" src="img/Logo_blanco_sin_fondo2.png" alt="Logo_TechManager_Services" title="TechManager_Services">
                        
                        <h2>TechManager Services</h2>
        
                    </a>
                    
                </div>
        
                
                <div class="header_options_container">
        
                    <ul>
        
                        <li><a class="links" href="/index.html"><i class="fa-solid fa-house"></i></a></li>
                        <li><a class="links" href="/index.html">Nosotros</a></li>
                        <li><a class="links bright_footer" href="#footer_link">Contacto</a></li>
                        <li><a class="login_button" href="login.html">Login</a></li>
                        
                    </ul>
                    
                </div>
        
            </div>
        
        </header>

        <section class="slogan_section">

            <div class="slogan">

                <h4>Potencia tu negocio, simplifica tu gestión.</h4>
        
            </div>

        </section>

        <section class="section_login_container">

            <div class="login_container">

                <form action="#">

                    
                <h1>Iniciar Sesión</h1>

                <div class="input_box">

                    <input type="email" placeholder="Email" required>

                </div>

                <div class="input_box">

                    <input type="password" placeholder="Password" required>

                </div>

                <div class="login_check">

                    <label><input type="checkbox">Recordar</label>
                    <a href="#">Recordar contraseña?</a>

                </div>

                <button type="submit" class="btn">Iniciar Sesion</button>
                <div class="register_link">

                    <p class="">No tengo cuenta<a href="#">Crea una </a></p>

                </div>
                
                </form>

            </div>

        </section>

        <footer id="footer_link">

            <div class="footer_container">

                <div class="footer_title">
                
                    <h5>TechManager Services</h5>
                    <h5>Bogotá, Colombia.</h5>
    
                </div>
    
                <div class="footer_contact_container">

                    <ul>

                        <li class="footer_contact"> <i class="fa-solid fa-phone"></i> +57 3028442637</li>
                        <li class="footer_contact"> <i class="fa-solid fa-phone"></i> +57 3048997654</li>
                        <li class="footer_contact"> <i class="fa-regular fa-envelope"></i> techmanager@gmail.com</li>

                    </ul>

                </div>
                <div class="footer_icons">
    
                    <ul>

                        <li class="footer_contact"><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                        <li class="footer_contact"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li class="footer_contact"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        
                    </ul>
    
                </div>

            </div>

        </footer>

        <p class="copyright">&copy; 2024 TechManager Services. All rights reserved.</p>

    </body>

</html>



