<!DOCTYPE html>
<html lang="es">
    
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Static/request_styles.css">
        <script src="https://kit.fontawesome.com/590ca9351e.js" crossorigin="anonymous"></script>
        <title>Tech_Solicita</title>
        
    </head>

    <body>
        <header class="main_header">

            <div class="header_container">
        
                <div class="header_logo_container">
        
                    <a href="#" class="logo_container">
                        
                        <img class="logo_img" src="img/Logo_blanco_sin_fondo2.png" alt="Logo_TechManager_Services" title="TechManager_Services">
                        
                        <h2>TechManager Services</h2>
        
                    </a>
                    
                </div>
        
                <div class="header_options_container">
        
                    <ul>
        
                        <li><a class="links" href="/index.html"><i class="fa-solid fa-house"></i></a></li>
                        <li><a class="links" href="/index.html">Nosotros</a></li>
                        <li><a class="links" href="#footer_link">Contacto</a></li>
                        <li><a class="login_button" href="/login/login.html">Login</a></li>
                        
                    </ul>
                    
                </div>
        
            </div>
        
        </header>   
        
        <section>

            <div class="slogan">

                <h4>Potencia tu negocio, simplifica tu gestión.</h4>
        
            </div>

        </section>

        <section class="section_2_container">

            <div class="content_container">
                

                <h1 class="content_title">Potencia Tu Negocio, Simplifica Tu Gestión.</h1>

                <p class="content_text">Descarga ahora nuestro sistema ERP y comienza a optimizar la gestión de tu negocio <br> con soluciones personalizadas y eficientes.</p>

                <div class="link_download_container">

                    <a href="" class="content_download_link"> <i class="fa-solid fa-download"></i> Seccion de Descarga</a>
                </div>

                
            </div>

        </section>

        <section class="section_3_download_cards">

            <div class="download_cards card_1">

                <i class="fa-brands fa-windows"></i>

                <h1 class="card_title"></h1>

                <h4>Desktop</h1>

                <h1>Windows</h1>

                <p>Optimiza la gestión de tu negocio con nuestra versión de escritorio para Windows. nuestro ERP te permitirá automatizar y agilizar todos los procesos de tu empresa desde la comodidad de tu PC.

                </p>

                <div class="a_link"><a href="#"> <i class="fa-solid fa-download"></i> Download</a></div>

            </div>

            <div class="download_cards">

                <i class="fa-brands fa-linux"></i>

                    <h1 class="card_title"></h1>

                    <h4>Desktop</h1>

                    <h1>Linux</h1>

                    <p>Nuestra versión para Linux te ofrece un sistema ERP de código eficiente, diseñado para funcionar en las distribuciones más populares. Perfecto para quienes buscan un alto nivel de personalización y estabilidad.</p>

                    <div class="a_link"><a href="#"> <i class="fa-solid fa-download"></i> Download</a></div>

                </div>

            </div>

            <div class="download_cards">

                <i class="fa-brands fa-apple"></i>

                    <h4>Desktop</h1>

                    <h1>MacOs</h1>

                    <p>Lleva la gestión de tu negocio a otro nivel con nuestra aplicación ERP para macOS. Diseñada para un rendimiento óptimo en dispositivos Apple, combina potencia y facilidad de uso para una administración impecable.</p>

                    <div class="a_link"><a href="#"> <i class="fa-solid fa-download"></i> Download</a></div>

            </div>

        </section>

        <footer id="footer_link">

            <div class="footer_container">

                <div class="footer_title">
                
                    <h5>TechManager Services</h5>
                    <h5>Bogotá, Colombia.</h5>
    
                </div>
    
                <div class="footer_contact_container">

                    <ul>

                        <li class="footer_contact"> <i class="fa-solid fa-phone"></i> +57 3028442637</li>
                        <li class="footer_contact"> <i class="fa-solid fa-phone"></i> +57 3048997654</li>
                        <li class="footer_contact"> <i class="fa-regular fa-envelope"></i> techmanager@gmail.com</li>

                    </ul>

                </div>
                <div class="footer_icons">
    
                    <ul>

                        <li class="footer_contact"><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                        <li class="footer_contact"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li class="footer_contact"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        
                    </ul>
    
                </div>

            </div>

        </footer>

        <p class="copyright">&copy; 2024 TechManager Services. All rights reserved.</p>

    </body>

</html>