<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Static/web_styles.css">
        <link rel="icon" href="img/Logo_blanco_sin_fondo2 (1).png" type="image/png">
        <script src="https://kit.fontawesome.com/590ca9351e.js" crossorigin="anonymous"></script>
        <title>TechManager_Services</title>
        
    </head>

    <body>
        
        <header class="main_header">

            <div class="header_container">

                <div class="header_logo_container">

                    <a href="#" class="logo_container">
                        
                        <img class="logo_img" src="../Static/img/Logo_blanco_sin_fondo2.png" alt="Logo_TechManager_Services" title="TechManager_Services">
                        
                        <h2>TechManager Services</h2>

                    </a>
                    
                </div>

                <div class="header_options_container">

                    <ul>

                        <li><a class="links" href="#"><i class="fa-solid fa-house"></i></a></li>

                        <li><a class="links" href="#section_2_link
                        ">Nosotros</a></li>

                        <li><a class="links" href="#footer_link">Contacto</a></li>

                    </ul>
                    
                </div>

            </div>

        </header>

        <section>

            <div class="slogan">

                <h4>Potencia tu negocio, simplifica tu gestión.</h4>
        
            </div>

        </section>

            <section class="section_2" id="section_2_link">

                <div class="section_2_content">

                    <h1 class="section_2_title">TechManager <br> Services</h1>

                    <p class="section_2_text">Somos un equipo de expertos en programación, especializados en desarrollar sistemas ERP a medida para optimizar los procesos de nuestros clientes. Nos enfocamos en crear soluciones personalizadas que se adapten a las necesidades específicas de cada negocio.</p>

                    <a href="#footer_link" class="section_2_link_contact" id="footer_link">Contactanos</a>

                </div>

                <div>

                    <img src="img/7076235.png" alt="" class="section_2_image">

                </div>

            </section>

            <section class="section_3">

                <div class="section_3_content">

                    <h1 class="section_3_title">Nuestros <br> <span>ERP</span></h1>

                    <p class="section_3_text">Nuestra solución ERP está diseñada para optimizar y adaptar cada aspecto de tu negocio. Con un enfoque en la flexibilidad y la seguridad, este sistema te ofrece las herramientas necesarias para crecer de manera eficiente.</p>

                    <a href="solicita/solicita.html" class="section_3_link_contact">!Solicita tu ERP¡</a>

                </div>


                <div class="cards_container">

                    <div class="cards card_1">

                        <input type="checkbox" id="checked_1">
                        <label for="checked_1">

                            <h2 class="card_title">Seguridad</h2>

                        </label>

                        <p class="card_text">"Nuestros ERP ofrece cifrado avanzado y autenticación multifactor para proteger tus datos críticos y garantizar la seguridad de la información en todo momento."</p>

                    </div>

                    <div class="cards card_2">

                        <input type="checkbox" id="checked_2">
                        <label for="checked_2">

                            <h2 class="card_title">Rendimiento</h2>

                        </label>

                        <p class="card_text">"Nuestros ERP ofrece cifrado avanzado y autenticación multifactor para proteger tus datos críticos y garantizar la seguridad de la información en todo momento."</p>

                    </div>

                    <div class="cards card_3">

                        <input type="checkbox" id="checked_3">
                        <label for="checked_3">

                            <h2 class="card_title">Personalizable</h2>

                        </label>

                        <p class="card_text">"Nuestros ERP ofrece cifrado avanzado y autenticación multifactor para proteger tus datos críticos y garantizar la seguridad de la información en todo momento."</p>

                    </div>

                    <div class="cards card_1">

                        <input type="checkbox" id="checked_4">
                        <label for="checked_4">

                            <h2 class="card_title">Portabilidad</h2>

                        </label>

                        <p class="card_text">"Nuestros ERP ofrece cifrado avanzado y autenticación multifactor para proteger tus datos críticos y garantizar la seguridad de la información en todo momento."</p>

                    </div>

                </div>

            </section>

        <footer id="footer_link">

            <div class="footer_container">

                <div class="footer_title">
                
                    <h5>TechManager Services</h5>
                    <h5>Bogotá, Colombia.</h5>
    
                </div>
    
                <div class="footer_contact_container">

                    <ul>

                        <li class="footer_contact"> <i class="fa-solid fa-phone"></i> +57 3028442637</li>
                        <li class="footer_contact"> <i class="fa-solid fa-phone"></i> +57 3048997654</li>
                        <li class="footer_contact"> <i class="fa-regular fa-envelope"></i> techmanager@gmail.com</li>

                    </ul>

                </div>
                <div class="footer_icons">
    
                    <ul>

                        <li class="footer_contact"><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                        <li class="footer_contact"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li class="footer_contact"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        
                    </ul>
    
                </div>

            </div>

        </footer>

        <p class="copyright">&copy; 2024 TechManager Services. All rights reserved.</p>

    </body>

</html>